<html>
<head>

</head>
<body><div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a [routerLink]="['/manageusers']">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
                            Manage Users
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a [routerLink]="['/user']">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
                            User Profile
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a [routerLink]="['/requests']">
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
                            Reservation Requests
                        </span>
      </a>

    </li>
    <!--<li class="has-subnav">-->
    <!--<a [routerLink]="['/dashboard']">-->
    <!--<i class="fa fa-folder-open fa-2x"></i>-->
    <!--<span class="nav-text">-->
    <!--Optimal Paths-->
    <!--</span>-->
    <!--</a>-->

    <!--</li>-->
    <li>
      <a [routerLink]="['/reservation']">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
                            Manage Reservations
                        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/checklabs']">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
                            Check Lab Details
                        </span>
      </a>
    </li>
    <!--<li>-->
    <!--<a [routerLink]="['/tables']">-->
    <!--<i class="fa fa-table fa-2x"></i>-->
    <!--<span class="nav-text">-->
    <!--Tables-->
    <!--</span>-->
    <!--</a>-->
    <!--</li>-->
    <li>
      <a [routerLink]="['/managelabs']">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
                            Manage Laboratories
                        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/other']">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
                            Other
                        </span>
      </a>
    </li>
  </ul>

</nav>
</body>
</html>
