<html>
<head>

</head>
<body><div class="area"></div><nav class="main-menu">
  <ul>
    <li>
      <a [routerLink]="['/manageusers']">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
                            Manage Users
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a [routerLink]="['/user']">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
                            User Profile
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a [routerLink]="['/requests']">
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
                            Reservation Requests
                        </span>
      </a>

    </li>
    <li class="has-subnav">
    <a [routerLink]="['/vreservations']">
    <i class="fa fa-folder-open fa-2x"></i>
    <span class="nav-text">
    Search All Reservations
    </span>
    </a>

    </li>

    <li>
      <a [routerLink]="['/sreservations']">
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
                            Search Free Labs
                        </span>
      </a>
    </li>
    <!--<li>-->
    <!--<a [routerLink]="['/tables']">-->
    <!--<i class="fa fa-table fa-2x"></i>-->
    <!--<span class="nav-text">-->
    <!--Tables-->
    <!--</span>-->
    <!--</a>-->
    <!--</li>-->
    <li>
      <a [routerLink]="['/mreservations']">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
                            Manage Reservations
                        </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/reports']">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
                            Reports
                        </span>
      </a>
    </li>
  </ul>

</nav>
</body>
</html>
