<flash-messages></flash-messages>
<div class="login-form">
  <form >
    <h2 class="text-center">Sign Up</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" required="required">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Full Name" name="name" [(ngModel)]="name" required="required">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required="required">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="registerData()">Register</button>
    </div>
    <div class="clearfix">
      <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="pull-right">Forgot Password?</a>
    </div>
  </form>
  <p class="text-center"><a href="#">Create an Account</a></p>
</div>

