<app-slidebar></app-slidebar>
<div class="container" style="background-color: #e5e5e5;margin-top: 2%">
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      <th scope="col">Edit User</th>
      <th scope="col">Delete User</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of dataset">
      <td>{{x.username}}</td>
      <td>{{x.name}}</td>
      <td>{{x.email}}</td>
      <td><button id="editbtn" name="cancelButton" class="btn btn-success" (click)="edituser()" >Edit</button></td>
      <td><button id="deletebtn" name="cancelButton" class="btn btn-danger" (click)="deleteuser()" >Delete</button></td>
    </tr>

    </tbody>
  </table>
  <!--Edit Model here-->

  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Users</h4>
          <button type="button" class="close" aria-label="Close" (click)="clsAssigned()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body container">

          <div class="row">



          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="clsAssigned()" >Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->
  </div>

  <!--Delete Model here-->

  <div class="backdrop" [ngStyle]="{'display':display2}"></div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display2}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Users</h4>
          <button type="button" class="close" aria-label="Close" (click)="clsAssigned()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body container">

          <div class="row">
            Are you sure you want to delete this user ??



          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="clsAssigned()" >Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->
  </div>

</div>
