<app-slidebar></app-slidebar>
<flash-messages></flash-messages>
<div class="container" style="background-color: #e5e5e5;margin-top: 2%">
  <div class="row">
    <div class="col-md-3">
      <p>Simple datepicker</p>

      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (select)="all_reservations()"></ngb-datepicker>

      <hr/>

      <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

      <hr/>

      <pre>Month: {{ date.month }}.{{ date.year }}</pre>
      <pre>Model: {{ model | json }}</pre>
    </div>
    <div class="col-md-9">
      <div class="">
        <table class="table">
          <thead>
          <tr class="table-active">
            <th scope="col">#</th>
            <th  scope="col">LAB A</th>
            <th scope="col">LAB B</th>
            <th scope="col">LAB C</th>
            <th scope="col">LAB D</th>
            <th scope="col">3RD YEAR LABS</th>
            <th scope="col">4TH YEAR LABS</th>
            <th scope="col">OTHER</th>
          </tr>
          </thead>
          <tbody  *ngFor="let item of time_slots">
          <tr>
            <th scope="row">{{item}}</th>
            <td *ngFor="let item1 of reserved_labs"><div *ngIf="item == item1.start_time"> Mark</div></td>

          </tr>

          </tbody>
        </table>
      </div>
      <p><small>**Note: Schedule and Speakers are subject to change.</small></p>
    </div>
  </div>

</div>



