<app-slidebar></app-slidebar>
<div class="container" style="background-color: #e5e5e5;margin-top: 2%;padding-bottom: 2%">
  <flash-messages></flash-messages>
      <h1>Labs Requests</h1>
      <div class="col-md-12 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-filter" data-target="pagado">Pagado</button>
                <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Pendiente</button>
                <button type="button" class="btn btn-danger btn-filter" data-target="cancelado">Cancelado</button>
                <button type="button" class="btn btn-default btn-filter" data-target="all">Todos</button>
              </div>
            </div>
            <div class="table-container">
              <table class="table table-filter" >
                <tbody>
                <tr  *ngFor="let item of dataset1" data-status="pagado">
                  <td>
                    <div class="ckbox">
                      <button id="cancelButton" name="cancelButton" class="btn btn-success" (click)="solve(item.date,item.start_time,item.lab)">Solve Request</button>
                    </div>
                  </td>
                  <td>
                    <a href="javascript:;" class="star">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                  </td>
                  <td>
                    <div class="media">
                      <a href="#" class="pull-left">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                      </a>
                      <div class="media-body">
                        <span class="media-meta pull-right">{{item.date}}</span>
                        <h4 class="title">
                          {{item.request_by}}
                          <span class="pull-right pagado">({{item.start_time}})</span>
                        </h4>
                        <p class="summary">I request for {{item.lab}} lab</p>
                      </div>
                    </div>
                  </td>
                </tr>




                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

</div>
