<app-slidebar></app-slidebar>
<div class="container" style="background-color: #e5e5e5;margin-top: 2%">
  <div class="container-fluid dashboard">
    <div class="row" id="draggablePanelList">
      <div class="col-sm-3">
        <div class="panel">
          <div class="panel-heading">&nbsp;</div>
          <div class="panel-body">
            <div *ngIf="user">
              {{user.name}}

            </div>
            <div class="number">7</div>
          </div>
          <div class="panel-footer">
            <div class="title">Computer Labs</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel alert">
          <div class="panel-heading">&nbsp;</div>
          <div class="panel-body alert">
            <div class="number">2</div>
          </div>
          <div class="panel-footer">
            <div class="title">Electronic Labs</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel">
          <div class="panel-heading warning">&nbsp;</div>
          <div class="panel-body">
            <div class="number">500</div>
          </div>
          <div class="panel-footer">
            <div class="title">Computers</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel">
          <div class="panel-heading">&nbsp;</div>
          <div class="panel-body">
            <div class="number">Over 100</div>
          </div>
          <div class="panel-footer">
            <div class="title">Sfaff</div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
