<nav class="navbar navbar-expand-lg navbar-light bg-light" >

  <a class="navbar-brand" href="#" style="margin-left: 80px"><img class="" src="../../assets/images/logo.png" alt="Lab Reservation System" height="45px" width="50px">University of Colombo School of Computing Lab Reservation System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="auth.loggedIn()" style="margin-top: 3%;margin-bottom: 2%">You loggged in as {{auth.gettype()}}</li>
      <li class="nav-item" *ngIf="!auth.loggedIn()" style="margin-top: 3%;margin-bottom: 2%">You are not logged in </li>
      <li class="nav-item" *ngIf="!auth.loggedIn()">
        <a routerLink="/login" class="nav-link" >Login</a>
      </li>

      <li class="nav-item" *ngIf="auth.loggedIn()">
        <a routerLink="" class="nav-link" (click)="logoutuser()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
